<header>
    <h1>Angular Tutorial</h1>
    <p>Your guide to mastering Angular development</p>
</header>

<div class="content">    
    <div class="section" *ngFor="let section of sections; let i = index">
        <div class="section-title" (click)="toggleContent(i)">
            <span class="arrow" [ngClass]="{ 'rotate': section.isVisible }">▶</span>
            {{ section.title }}
        </div>
        <div *ngIf="section.isVisible" class="section-content">
            <div [innerHTML]="section.content"></div>
        </div>
    </div>
</div>

    