<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand text-white" routerLink="/home" routerLinkActive="active">
            <img src="../../assets/logo.png" alt="Logo" style="margin-left: 10px; width: 83px;">
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto text-center">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link text-white fw-bold" routerLink="/home">🏠 Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white fw-bold" routerLink="/tutorial">📘 Tutorials</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white fw-bold" routerLink="/question">💡 Interview Questions</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white fw-bold" routerLink="/projects-idea">🔨 Projects Idea</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white fw-bold" routerLink="/about-us">ℹ️ About Us</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white fw-bold" routerLink="/contact-us">📞 Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>